- current_user.groups.each do |group|
  .group-content
    = link_to group_messages_path(group) do
      .group-content__group-name
        = group.name
      .group-content__group-last-message
        = group.show_last_message
