.side__bottom__message
  .side__bottom__group-name
    Sampleグループ
  .side__bottom__group-new-comment
    こんにちは
.side__bottom__message
  .side__bottom__group-name
    Sampleグループ
  .side__bottom__group-new-comment
    こんにちは
.side__bottom__message
  .side__bottom__group-name
    Sampleグループ
  .side__bottom__group-new-comment
    こんにちは
.side__bottom__message
  .side__bottom__group-name
    Sampleグループ
  .side__bottom__group-new-comment
    こんにちは
