.side__bottom__group
  .side__bottom__group-name
    Sampleグループ
  .side__bottom__group-message
    こんにちは
.side__bottom__group
  .side__bottom__group-name
    Sampleグループ
  .side__bottom__group-message
    こんにちは
.side__bottom__group
  .side__bottom__group-name
    Sampleグループ
  .side__bottom__group-message
    こんにちは
.side__bottom__group
  .side__bottom__group-name
    Sampleグループ
  .side__bottom__group-message
    こんにちは
