.side__bottom__message
  .side__bottom__message-name
    Sampleグループ
  .side__bottom__message-new-comment
    こんにちは
.side__bottom__message
  .side__bottom__message-name
    Sampleグループ
  .side__bottom__message-new-comment
    こんにちは
.side__bottom__message
  .side__bottom__message-name
    Sampleグループ
  .side__bottom__message-new-comment
    こんにちは
.side__bottom__message
  .side__bottom__message-name
    Sampleグループ
  .side__bottom__message-new-comment
    こんにちは
