.main__body__message
  .main__body__user-name
    ユーザー
  .main__body__posted-time
    2018/XX/XX XX:XX:XX
  .main__body__user-comment
    こんにちは
.main__body__message
  .main__body__user-name
    ユーザー
  .main__body__posted-time
    2018/XX/XX XX:XX:XX
  .main__body__user-comment
    こんにちは
.main__body__message
  .main__body__user-name
    ユーザー
  .main__body__posted-time
    2018/XX/XX XX:XX:XX
  .main__body__user-comment
    こんにちは
.main__body__message
  .main__body__user-name
    ユーザー
  .main__body__posted-time
    2018/XX/XX XX:XX:XX
  .main__body__user-comment
    こんにちは
