$light_blue: #38aef0;
$white: #ffffff;
$more_dark_blue: #253141;
$less_dark_blue: #2f3e51;
$black: #333333;
$gray: #999999;
$light_gray: #eeeeee;
$stagnant_gray: #aaaaaa;
$deep_blue: #434a54;
$pale_gray: #dddddd;
