.wrapper {
  .side{
    width: 300px;
    height: 100vh;
    float: left;
    color: $white;

    .side__top {
      height: 100px;
      background-color: $more_dark_blue;
      padding: 0 20px;
      line-height: 100px;

      .side__top__user-name {
        float: left;
      }

      .side__top__icons {
        float: right;

        a {
          color: $white;
          text-decoration: none;
        }
      }
    }

    .side__bottom {
      height: calc(100vh - 100px);
      background-color: $less_dark_blue;
      padding: 0 20px;
      overflow: scroll;
      width: 260px;

      .side__bottom__message {

        .side__bottom__group-name {
          font-size: 15px;
          padding: 20px 0px 5px ;
        }

        .side__bottom__group-new-comment {
          font-size: 11px;
          padding: 20px 0px;
        }
      }
    }
  }
}
